AppData/Local/Application Data/
AppData/Local/History/
AppData/Local/Microsoft/Windows/INetCache/Content.IE5/
AppData/Local/Microsoft/Windows/INetCache/Low/Content.IE5/
AppData/Local/Microsoft/Windows/Temporary Internet Files/
AppData/Local/Temporary Internet Files/
AppData/Roaming/Microsoft/Windows/Start Menu/程式集/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Templates/
「開始」功能表/
